*:focus {
  outline: none;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  width: 100%;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    max-width: 800px;
  }
}

@media only screen and (max-width: 960px) {
  .container {
    max-width: 500px;
  }
}

@media only screen and (max-width: 550px) {
  .container {
    max-width: 450px;
    padding: 0 30px;
  }
}

.container--about {
  max-width: 1150px;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container--about {
    max-width: 1000px;
  }
}

@media only screen and (max-width: 1100px) {
  .container--about {
    max-width: 800px;
  }
}

@media only screen and (max-width: 960px) {
  .container--about {
    max-width: 500px;
  }
}

@media only screen and (max-width: 550px) {
  .container--about {
    max-width: 450px;
    padding: 0 30px;
  }
}

.container--portfolio {
  margin: 0 auto;
  max-width: 1200px;
}

@media only screen and (max-width: 1200px) {
  .container--portfolio {
    max-width: 1000px;
  }
}

@media only screen and (max-width: 1100px) {
  .container--portfolio {
    max-width: 800px;
  }
}

@media only screen and (max-width: 960px) {
  .container--portfolio {
    max-width: 500px;
  }
}

@media only screen and (max-width: 550px) {
  .container--portfolio {
    max-width: 450px;
    padding: 0 30px;
  }
}

.heading-line {
  position: relative;
  display: inline-block;
}

.heading-line:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -20px;
  width: 100vh;
  height: 4px;
  background-color: #56bcbb;
}

h1 {
  font-size: 9rem;
  text-transform: uppercase;
  font-family: "BebasNeue", sans-serif;
}

@media only screen and (max-width: 1440px) {
  h1 {
    font-size: 8rem;
  }
}

@media only screen and (max-width: 1100px) {
  h1 {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 830px) {
  h1 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 772px) {
  h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 520px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-family: "Futura", sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 1440px) {
  h2 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 772px) {
  h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 520px) {
  h2 {
    font-size: 2.3rem;
  }
}

h3 {
  font-family: "Futura", sans-serif;
  font-size: 30px;
}

h4 {
  font-size: 1.6rem;
}

@media only screen and (max-width: 1440px) {
  h4 {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 960px) {
  h4 {
    font-size: 1.2rem;
  }
}

p {
  font-size: 3rem;
}

@media only screen and (max-width: 1440px) {
  p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  p {
    font-size: 1.2rem;
  }
}

li {
  font-size: 1.6rem;
}

@media only screen and (max-width: 1440px) {
  li {
    font-size: 1.3rem;
  }
}

@font-face {
  font-family: 'Futura';
  src: url("fonts/FuturaStdCondensed.otf");
}

@font-face {
  font-family: 'BebasNeue';
  src: url("fonts/bebas-neue/BebasNeueBold.ttf");
}

.btn {
  border: 2px solid #56bcbb;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  height: 50px;
  width: 180px;
  color: #fff;
  background-color: #21303c;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-family: "Futura", sans-serif;
}

.btn--primary {
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(50%, #56bcbb), color-stop(50%, #21303c));
  background-image: -o-linear-gradient(bottom left, #56bcbb 50%, #21303c 50%);
  background-image: linear-gradient(to top right, #56bcbb 50%, #21303c 50%);
  background-size: 50%;
  background-repeat: no-repeat;
  letter-spacing: 3px;
}

.btn--primary:hover {
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(100%, #56bcbb), to(#21303c));
  background-image: -o-linear-gradient(bottom left, #56bcbb 100%, #21303c 100%);
  background-image: linear-gradient(to top right, #56bcbb 100%, #21303c 100%);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #21303c;
}

.btn--secondary {
  letter-spacing: 2px;
}

.btn--secondary:hover {
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(50%, #56bcbb), color-stop(50%, #21303c));
  background-image: -o-linear-gradient(bottom left, #56bcbb 50%, #21303c 50%);
  background-image: linear-gradient(to top right, #56bcbb 50%, #21303c 50%);
  background-size: 50%;
  background-repeat: no-repeat;
  -webkit-animation: .2s changeBtn ease-out;
          animation: .2s changeBtn ease-out;
}

@-webkit-keyframes changeBtn {
  0% {
    background-image: -webkit-gradient(linear, left bottom, right top, from(#56bcbb), color-stop(50%, #21303c));
    background-image: linear-gradient(to top right, #56bcbb 0%, #21303c 50%);
    background-size: 0%;
  }
  100% {
    background-image: -webkit-gradient(linear, left bottom, right top, color-stop(50%, #56bcbb), color-stop(50%, #21303c));
    background-image: linear-gradient(to top right, #56bcbb 50%, #21303c 50%);
    background-size: 50%;
  }
}

@keyframes changeBtn {
  0% {
    background-image: -webkit-gradient(linear, left bottom, right top, from(#56bcbb), color-stop(50%, #21303c));
    background-image: -o-linear-gradient(bottom left, #56bcbb 0%, #21303c 50%);
    background-image: linear-gradient(to top right, #56bcbb 0%, #21303c 50%);
    background-size: 0%;
  }
  100% {
    background-image: -webkit-gradient(linear, left bottom, right top, color-stop(50%, #56bcbb), color-stop(50%, #21303c));
    background-image: -o-linear-gradient(bottom left, #56bcbb 50%, #21303c 50%);
    background-image: linear-gradient(to top right, #56bcbb 50%, #21303c 50%);
    background-size: 50%;
  }
}

.showcase {
  background-image: url("images/showcase-img.png");
  background-size: cover;
  position: relative;
  width: 100%;
  color: #fff;
  height: 100vh;
  padding-bottom: 100px;
}

.showcase__sign img {
  width: 100%;
  height: auto;
}

.cover-div {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: gradient(linear, left top, right bottom, color-stop(50%, rgba(86, 188, 187, 0.28)), color-stop(50%, rgba(33, 48, 60, 0.1)));
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(50%, rgba(86, 188, 187, 0.28)), color-stop(50%, rgba(33, 48, 60, 0.1)));
  background-image: -o-linear-gradient(bottom left, rgba(86, 188, 187, 0.28) 50%, rgba(33, 48, 60, 0.1) 50%);
  background-image: linear-gradient(to top right, rgba(86, 188, 187, 0.28) 50%, rgba(33, 48, 60, 0.1) 50%);
}

.showcase-content {
  position: absolute;
  top: 49%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn--showcase {
  float: right;
  margin: 50px 0;
}

@media only screen and (max-width: 600px) {
  .btn--showcase {
    float: none;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.showcase__heading {
  margin-bottom: -20px;
}

@media only screen and (max-width: 960px) {
  .showcase__heading {
    margin-bottom: 0;
  }
}

.showcase-info {
  position: absolute;
  bottom: -17px;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contact-email {
  font-family: "Futura", sans-serif;
}

.address {
  text-transform: uppercase;
  font-family: "Futura", sans-serif;
  margin-bottom: 33px;
}

.arrow-down {
  border: solid #fff;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 7px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.dot-link {
  background-color: #fff;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: 18.4px 0;
  margin-left: 55px;
  z-index: 12;
  display: inline-block;
}

.active {
  height: 10px;
  width: 10px;
  background-color: #56bcbb !important;
}

.active-black {
  background-color: #21303c;
}

.active-white {
  background-color: #fff;
}

.fixed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  right: 50px;
  top: 27.5%;
  z-index: 10;
}

@media only screen and (max-width: 768px) {
  .fixed {
    right: 35px;
  }
}

.about {
  background-color: #fff;
  color: #2e5470;
  padding-top: 75px;
  padding-bottom: 120px;
}

.about__heading {
  letter-spacing: 5px;
}

.about__heading--second {
  padding-bottom: 20px;
  letter-spacing: 1px;
}

.about__paragraph {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  line-height: 2;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.flex__item {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%;
}

@media only screen and (max-width: 1200px) {
  .flex__item {
    -webkit-flex-basis: 80%;
        -ms-flex-preferred-size: 80%;
            flex-basis: 80%;
    max-width: 80%;
    display: inline-block;
  }
}

@media only screen and (max-width: 1200px) {
  .flex__item--first {
    margin: 120px 0;
  }
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  padding-bottom: 100px;
}

.box {
  max-width: 268px;
  max-height: 268px;
}

@media only screen and (max-width: 520px) {
  .box {
    max-width: 150px;
    max-height: 150px;
  }
}

.box img {
  width: 100%;
  height: auto;
}

.box--2 {
  background-color: #56bcbb;
}

.box--3 {
  background-color: transparent;
}

.portfolio {
  color: #fff;
  background-image: url("images/portfolio-img.png");
  background-size: cover;
}

.portfolio__heading {
  padding-top: 100px;
  letter-spacing: 5px;
}

.portfolio-inner-content {
  padding: 100px 0;
}

.cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
  max-width: 40%;
  min-width: 515px;
  padding: 30px;
  border: 1px solid transparent;
  margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
  .card {
    padding: 20px;
  }
}

.card__logo {
  padding-bottom: 10px;
  min-width: 280px;
}

.card__logo img {
  max-width: 100%;
  height: auto;
}

.card__title {
  color: #56bcbb;
  margin-bottom: 35px;
  font-style: italic;
}

.card__paragraph {
  font-size: 16px;
  padding-bottom: 15px;
  line-height: 2;
}

@media only screen and (max-width: 550px) {
  .card__paragraph {
    font-size: 12px;
    width: 65%;
  }
}

.portfolio__heading--second {
  text-align: center;
  margin: 0 auto;
  line-height: 1;
  letter-spacing: 5px;
  padding-top: 25px;
}

.highlight {
  border-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-transition: ease-in-out .7s all;
  -o-transition: ease-in-out .7s all;
  transition: ease-in-out .7s all;
}

.advisors {
  color: #2e5470;
  padding-top: 100px;
  padding-bottom: 0px;
}

.advisors__heading--first {
  padding-bottom: 10px;
  letter-spacing: 5px;
}

.advisors__heading--second {
  padding: 100px 0;
  padding-bottom: 90px;
  letter-spacing: 4px;
  line-height: 1;
}

.heading-line--advisors {
  bottom: 24px;
}

.advisors-boxes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.advisors-box {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 960px) {
  .advisors-box {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .advisors-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.advisors-box--special {
  position: relative;
}

.advisors-box--special .advisors__heading--third {
  position: absolute;
  right: 0;
  bottom: 0;
  letter-spacing: 4px;
  line-height: 1;
}

.advisors-box__title {
  color: #56bcbb;
  padding-bottom: 20px;
}

.advisors__list {
  margin-left: 20px;
}

.advisors__list-item {
  line-height: 2;
}

@media only screen and (max-width: 1100px) {
  .advisors__list-item {
    line-height: 1.5;
  }
}

.advisors__img {
  margin-right: 30px;
  max-width: 180px;
}

.advisors__img img {
  max-width: 100%;
  height: auto;
}

.investors {
  background-image: url("images/footer-img.png");
  padding: 100px 0;
}

.investors__heading {
  color: #fff;
  letter-spacing: 4px;
  padding-bottom: 30px;
}

.heading-line--investors:after {
  bottom: 7px;
}

.investors__paragraph {
  color: #56bcbb;
  padding: 20px 0;
  font-family: "Futura", sans-serif;
  padding-bottom: 10px;
}

.investors__heading--second {
  padding-top: 135px;
  padding-bottom: 20px;
  line-height: 1;
}

.investors__logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 960px) {
  .investors__logos {
    display: block;
  }
}

.invesors__img {
  margin-right: 20px;
  padding-bottom: 10px;
}

.invesors__img img {
  max-width: 100%;
  height: auto;
}

.invesors__img--special {
  padding-bottom: 30px;
}

@media only screen and (max-width: 500px) {
  .invesors__img--special {
    padding-bottom: 30px;
  }
}

.footer {
  background-color: #56bcbb;
  padding: 21px;
  color: #fff;
}

@media only screen and (max-width: 460px) {
  .footer {
    padding: 40px;
  }
}

.footer__text {
  font-size: 14px;
  text-align: center;
  line-height: 7px;
}

@media only screen and (max-width: 550px) {
  .footer__text {
    max-width: 450px;
    padding: 0 30px;
  }
}

@media only screen and (max-width: 460px) {
  .footer__text {
    line-height: 2;
  }
}

.login-modal {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 40vw;
  height: 40vh;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 9999;
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  transition: 1s ease all;
  border: 4px solid #56bcbb;
}

@media only screen and (max-width: 640px) {
  .login-modal {
    width: 60vw;
  }
}

.login-modal-inner {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #2e5470;
}

.login-modal-inner {
  position: relative;
}

.login-modal__input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #2e5470;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 10px;
  font-size: 1.7rem;
}

.login-modal__input ::-webkit-input-placeholder {
  color: #2e5470;
}

.login-modal__input ::-moz-placeholder {
  color: #2e5470;
}

.login-modal__input ::-ms-input-placeholder {
  color: #2e5470;
}

.login-modal__input ::placeholder {
  color: #2e5470;
}

.login-modal__btn {
  height: 30px;
  width: 110px;
  font-size: 1.7rem;
  margin-top: 20px;
}

.login-modal__close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.login-active {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
