.footer {
    background-color: $secondary_color;
    padding: 21px;
    color: $main_text_color;
    @media only screen and(max-width: 460px) {
       padding: 40px;
    }
}
.footer__text {
    font-size: 14px;
    text-align: center;
    line-height: 7px;
     @media only screen and(max-width: 550px) {
        max-width: 450px;
        padding: 0 30px;
    }
    @media only screen and(max-width: 460px) {
        line-height: 2;
     }
}