.portfolio {
    color: $main_text_color;
    background-image: url('images/portfolio-img.png');
    background-size: cover;
}
.portfolio__heading {
    padding-top: 100px;
}
.portfolio-inner-content {
    padding: 100px 0;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    flex-basis: 40%;
    max-width: 40%;
    min-width: 515px;
    padding: 30px;
}
.card__logo {
    padding-bottom: 10px;
}
.card__title {
    color: $secondary_color;
    margin-bottom: 35px;
    font-style: italic;
}
.card__paragraph {
    font-size: 16px;
    padding-bottom: 20px;
    line-height: 2;
    @media only screen and(max-width: 550px) {
        font-size: 12px;
        width: 65%;
    }
}
.portfolio__heading--second {
    text-align: center;
    margin: 0 auto;
}
.highlight {
    border: 1px solid $border_color;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    background-color: $main_text_color_opacity;
    transition: ease-in-out .7s all;
  }
