.portfolio {
    color: $main_text_color;
    background-image: url('images/portfolio-img.png');
    background-size: cover;
}
.portfolio__heading {
    padding-top: 100px;
    letter-spacing: 5px;
}
.portfolio-inner-content {
    padding: 100px 0;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    flex-basis: 40%;
    max-width: 40%;
    min-width: 515px;
    padding: 30px;
    border: 1px solid transparent;
    margin-bottom: 40px;
    @media only screen and(max-width: 600px) {
       padding: 20px;
    }
}
.card__logo {
    padding-bottom: 10px;
    min-width: 280px;
    img {
        max-width: 100%;
        height: auto;
    }
}
.card__title {
    color: $secondary_color;
    margin-bottom: 35px;
    font-style: italic;
}
.card__paragraph {
    font-size: 16px;
    padding-bottom: 15px;
    line-height: 2;
    @media only screen and(max-width: 550px) {
        font-size: 12px;
        width: 65%;
    }
}
.portfolio__heading--second {
    text-align: center;
    margin: 0 auto;
    line-height: 1;
    letter-spacing: 5px;
    padding-top: 25px;
}
.highlight {
    border-color: $border_color;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    background-color: $main_text_color_opacity;
    transition: ease-in-out .7s all;
  }
