.btn {
    border: 2px solid $secondary_color;
    font-size: 15px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    height: 50px;
    width: 180px;
    color: $main_text_color;
    background-color: $main_color;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: $secondary_font;
}

.btn--primary {
    background-image: linear-gradient(to top right, $secondary_color 50%, $main_color 50%);
    background-size: 50%;
    background-repeat: no-repeat;
    letter-spacing: 3px;

    &:hover {
        background-image: linear-gradient(to top right, $secondary_color 100%, $main_color 100%);
        background-size: 100%;
        background-repeat: no-repeat;
        color: $main_color;
    }
}

.btn--secondary {
    letter-spacing: 2px;

    &:hover {
        background-image: linear-gradient(to top right, $secondary_color 50%, $main_color 50%);
        background-size: 50%;
        background-repeat: no-repeat;
        animation: .2s changeBtn ease-out;
    }
}

@keyframes changeBtn {
    0% {
        background-image: linear-gradient(to top right, $secondary_color 0%, $main_color 50%);
        background-size: 0%;
    }
    100% {
        background-image: linear-gradient(to top right, $secondary_color 50%, $main_color 50%);
        background-size: 50%;
    }
}
