$main_font: 'Open Sans', sans-serif;
$secondary_font: 'Futura', sans-serif;
$main_text_color: #fff;
$secondary_text_color: #2e5470;
$main_color: #21303c;
$secondary_color: #56bcbb;
$main_color_opacity: rgba(33,48,60, 0.1);
$secondary_color_opacity: rgba(86,188,187, 0.28);

$main_text_color_opacity: rgba(255,255,255, 0.05);
$border_color: rgba(255,255,255, 0.2);